#ch1{
    background-color: blueviolet;
    color: lemonchiffon;
    display: flex;
    padding-left: 40%;
}
#ch2{
    background-color: blueviolet;
    color: lemonchiffon;
    display: inline;
    font-family:'Gill Sans MT';
    font-weight: bolder;
}
.inp{
    background-color: rgb(5, 117, 31);
    color: aliceblue;
    height: 40px;
    font-size: 30px;
    margin-top: 10px;
}
#ci1{
    margin-left: 20%;
}
.btn{
    background-color: rgb(5, 117, 31);
    color: aliceblue;
    height: 40px;
    width: 60px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 40px;
}
#addBtn{
    margin-left: 35%;
}
#out{
    margin-top: 70px;
    margin-left: 35%;
}
#cspan{
    background-color: blueviolet;
    color: lemonchiffon;
    font-family:'Gill Sans MT';
    font-weight: bolder;
    display:inline-flex;
    margin-top: 70px;
    margin-left: 38%;
    padding-left: 10px;
    width: 0%;
    height: 0px;
    font-size: 40px;
    border-radius: 10px;
    border-width: 40px;
    /* border: 3px solid rgb(5, 117, 31);; */
}