#th1{
    background-color: beige;
    color: crimson;
    padding-left: 449px;
}
#dp{
    width:20%;
}
#btn{
    padding-left: 30%;
    background: #bc3737;
    color: antiquewhite;
}
#ad{
    padding-bottom: 5px;
}
#trains{
    width:20%;
}